<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arialyy.aria.publiccomponent" >

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application>
    <provider
        android:authorities="${applicationId}.com.arialyy.aria.provider"
        android:name="com.arialyy.aria.orm.DbContentProvider"
        android:exported="false" />
  </application>
</manifest>
