<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arialyy.aria.publiccomponent">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application>

    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false"
        tools:node="merge">
      <!-- This entry makes ExampleLoggerInitializer discoverable. -->
      <meta-data  android:name="com.arialyy.aria.core.provider.DuaStartupProvider"
          android:value="androidx.startup" />
    </provider>
  </application>
</manifest>
